h1 {
  color: blue;
  text-align: center;
  text-shadow: 3px 1px 3px yellow;
}

.field {
  width: 97%;
  background-color: cyan;
}

.space {
  display: block;
}
input {
  background-color: yellow;
  border-radius: 5px;
  border-style: inset;
  border-width: 1px 0.5px 0.5px 1px;
  border-color: rgb(211, 209, 209);
}
legend {
  background-color: red;
  color: white;
}

/* truco para que se vea negro, no queda del todo fino, pero se aprende */
.color__radio:checked:before {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
}

.portable {
  margin-left: 25px;
}

.cbox {
  display: block;
}

.dateinput {
  background-color: white;
  border-radius: 0;
  margin-left: 10px;
}
.fieldset__container {
  margin-bottom: 20px;
}

.valoration {
  margin-top: 20px;
}
.date__container {
  margin-top: 20px;
  margin-bottom: 5px;
}

.send__reset:hover {
  border-color: blue;
  background-color: rgb(223, 222, 222);
}
.show__button {
  margin-top: 2px;
  width: 98px;
  height: 40px;
  background-color: pink;
  border-radius: 5px;
  border-style: outset;
  border-color: rgb(235, 235, 235);
  /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2); */
}
